<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" [src]="user.avatar_url" alt="avatar" width="100" height="100">
    <h1 class="display-5 fw-bold">Bienvenido {{user.login}}</h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <p class="px-4 me-sm-3">Seguidores: {{user.followers}}</p>
            <p class="px-4">Siguiendo: {{user.following}}</p>
        </div>
        <p class="lead mb-4"><a [href]="user.html_url">Link a git</a></p>
        <div class="col-lg-6 mx-auto">
            <button class="btn btn-primary btn-block lead mb-4" (click)='ingresar()'>Ingresar</button>
            <button class="btn btn-primary btn-block lead mb-4" (click)='registrarme()'>Registrarme</button>
        </div>
       
    </div>
</div>