<div class="text'center">
    <main class="form-signin">
        <h2 style="text-align: center;">REGISTRO</h2>
        <form [formGroup]="registerForm">
            <div class="form-floating">
                <input type="email" class="form-control" placeholder="Email" #userEmail formControlName="user" required>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password" #userPwd formControlName="password"
                    required>
            </div>
            <button class="w-100 btn btn-primary" type="button" [disabled]="!registerForm.valid"
                (click)="authService.SignUp(userEmail.value, userPwd.value)">Registrarme</button>
            <p></p>
            <h3 class="margin-top-10" style="text-align: center;">O</h3>
            <a class="w-100 btn btn-outline-secondary" (click)="authService.GoogleAuth()" role="button">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                <span>Continuar con Google</span>
            </a>
        </form>
        <div class="forgotPassword">
            <a routerLink="/forgot-password">¿Ya tenes una cuenta?</a>
        </div>
    </main>
</div>