<div class="text'center">
    <main class="form-signin">
        <h2 style="text-align: center;">REGISTRO</h2>
        <form [formGroup]="registerForm">
            <div class="form-floating">
                <input type="email" class="form-control" placeholder="Email" #userEmail formControlName="user" required>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password" #userPwd formControlName="password"
                    required>
            </div>
            <button class="w-100 btn btn-primary" type="button" [disabled]="!registerForm.valid"
                (click)="authService.SignUp(userEmail.value, userPwd.value)">Registrarme</button>
        </form>
        <div class="forgotPassword">
            <a routerLink="/forgot-password">¿Ya tenes una cuenta?</a>
        </div>
    </main>
</div>