<div class="text'center">
    <main class="form-signin">
        <h2 style="text-align: center;">LOGIN</h2>
        <form [formGroup]="loginForm">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Username" #userName
                    formControlName="user" required>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #userPassword
                    formControlName="password" required>
            </div>
            <button class="w-100 btn btn-primary" type="button" [disabled]="!loginForm.valid"
                (click)="authService.SignIn(userName.value, userPassword.value)">Ingresar</button>
            <p></p>
            <div class="row">
                <button class="w-50 btn btn-danger btn-sm" type="button" (click)="mockUserAdmin()">Mock User Admin</button>
                <button class="w-50 btn btn-danger btn-sm" type="button" (click)="mockUserEmpleado()">Mock User
                    Empleado</button>
            </div>

        </form>
        <div class="forgotPassword">
            <a routerLink="/forgot-password">¿Perdiste tu contraseña?</a>
        </div>
        <div class="redirectToLogin">
            <span>¿Aun no tenes cuenta?<a class="redirect" routerLink="/sign-up"> Registrate</a></span>
        </div>
    </main>
</div>