<div class="container pt-5">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <app-container-alta (onAltaContainer)='onAltaContainerHandler($event)'></app-container-alta>
            
        </div>
        <div class="col">
            <app-container-update (onActualizar)='onActualizarHandler($event)' [container]='container'></app-container-update>
        </div>
        <div class="col">
            <app-container-delete (onBorrar)='onBorrarHandler()' [container]='container'></app-container-delete>
        </div>
    </div>

    <h2 class="display-6 text-center mb-4">Lista de containers</h2>
    <app-container-list [containers]='containers' (onContainerSelected)='handlerSelection($event)'></app-container-list>
</div>