<div class="container">

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <app-tabla-paises (onCountrySelected)="onCountrySelectedHandler($event)"></app-tabla-paises>
        </div>

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Agregar producto</h4>
            <form [formGroup]="altaForm" (ngSubmit)='enviar()'>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="codigo" class="form-label">Codigo:</label>
                        <input type="text" class="form-control" id="codigo" formControlName="codigo">
                        <small class="invalid"
                            *ngIf="altaForm.controls.codigo.errors?.required && altaForm.controls.codigo.touched"> El
                            codigo es
                            requerido</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                        <small class="invalid"
                            *ngIf="altaForm.controls.descripcion.errors?.required && altaForm.controls.descripcion.touched">
                            La descripcion es requerida.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="precio">Precio:</label>
                        <input type="number" class="form-control" id="precio" formControlName="precio" min="0">
                        <div class="invalid"
                            *ngIf="altaForm.controls.precio.errors?.required && altaForm.controls.precio.touched">
                            El precio es requerido.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" id="stock" formControlName="stock" min="0">
                        <div class="invalid"
                            *ngIf="altaForm.controls.stock.errors?.required && altaForm.controls.stock.touched">
                            El stock es requerido.
                        </div>
                    </div>
                </div>

                <p>Es comestible:</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="comestible" type="radio" name="comestible"
                        id="inlineRadio1" [value]='true'>
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="comestible" type="radio" name="comestible"
                        id="inlineRadio2" [value]='false'>
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
                <p> </p>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Pais:</label>
                        <input type="text" class="form-control" id="pais" formControlName="pais" readonly>
                    </div>
                    <div class="col-md-5 mb-12 align-bottom">
                        <img *ngIf="pais.flag" [src]="pais.flag" alt="bandera" class="img align-bottom">
                    </div>
                    <div class="invalid"
                        *ngIf="altaForm.controls.pais.errors?.required && altaForm.controls.pais.touched">
                        El pais es requerido.
                    </div>
                </div>
                <button [disabled]='altaForm.invalid' type="submit" class="btn btn-primary btn-block"> Aceptar
                </button>
            </form>
        </div>
    </div>
</div>